Client/Connected Services/AccountService/AccountWebService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62759/AccountWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Security.Claims" />
  <xs:complexType name="Account">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="IdentityLoginResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Security.Claims" minOccurs="0" name="ClaimsIdentity" nillable="true" type="q1:ClaimsIdentity" />
      <xs:element minOccurs="0" name="CustomerLoginResults" type="tns:CustomerLoginResults" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdentityLoginResult" nillable="true" type="tns:IdentityLoginResult" />
  <xs:simpleType name="CustomerLoginResults">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Successful" />
      <xs:enumeration value="MemberNotExists" />
      <xs:enumeration value="ProfileNotExists" />
      <xs:enumeration value="AccountNotExists" />
      <xs:enumeration value="WrongPassword" />
      <xs:enumeration value="IsLockedOut" />
      <xs:enumeration value="NotApproved" />
      <xs:enumeration value="NotPermitted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CustomerLoginResults" nillable="true" type="tns:CustomerLoginResults" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
</xs:schema>